@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: large;
}
nav{
    background-color: rgb(39, 144, 201);
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-size: larger;
    padding: 0.7rem;
}

body{
    font-family: 'Montserrat', sans-serif;

}

nav a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    background-color: transparent;
    padding: 0.4em;

    font-size:large;
}

h1{
    text-align:center;
    padding: 0.7rem;
    font-family: 'Roboto Mono', monospace;

}

#container{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container label{
    padding: 0rem;
    margin: 0.4rem;
}

button{
    margin: 1rem;
    /* width: 10%; */
    margin: auto;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}

#quiz-container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.question-container{
    /* background-color: rgb(211, 234, 240); */
    background-color: rgb(229, 201, 250);
    border-radius: 1em;
    padding: 1.2rem;
    margin: 1rem 0;
}

.btn{
    margin-top:1rem;
    width: 70%;
    padding: 0.4rem;
    background-color: rgb(145, 210, 245);
    color: rgb(0, 0, 0);
    font-size:medium;
    border:0ch;
    border: 5px solid rgb(145, 210, 245);

}
.btn:hover{
    background-color: rgb(80, 186, 243);
    transform: scale(1.02);
    cursor: pointer;
}


#btn-cnt {
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
}



#output{
    text-align: center;
    margin-bottom: 2rem;
}

input{
    /* accent-color: #1f3f07; */
}

